.-c-product-card {
  width: 250px;
  height: auto;
  min-height: 300px;
  position: relative;
  &__delete {
    font-size: large;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
